:root {
    --preto: #0A0A0A;
    --azulEscuro: #0A111F;
    --azul: #14213D;
    --cinza: #4F596E;
    --branco: #F5F5F5;
}
body {
    background-color: var(--azul);
    color: var(--branco);
}
.formulario {
    margin: auto;
    background-color: var(--azulEscuro);
    height: 500px;
    width: 500px;
    border-radius: 15px;
}
.erro {
    outline: none;
    border: 2px solid red;
}
.correto {
    outline: none;
    border: 2px solid green;
}